---
import PageLayout from "../../../layouts/page-layout.astro";
import { generateVersionCategoryPaths } from "../../../lib/query-builder";

export async function getStaticPaths() {
  // Simple one-liner to generate all version paths with their categories as props
  return generateVersionCategoryPaths({
    includeCategories: false, // We only want version paths here
    props: (_, version) => ({
      version: version.emoji_version,
      categories: [] // This will be filled in the component
    })
  });
}

const { version } = Astro.props;

// Fetch the categories for this version
// This demonstrates using the query builder in the component itself
import { queryCategories } from "../../../lib/query-builder";
const categories = await queryCategories(version).all();
---

<PageLayout>
  <h1>Version: {version}</h1>

  <h2>Categories</h2>
  <ul>
    {
      categories.map((group) => (
        <li>
          <a href={`/${version}/categories/${group.slug}`}>{group.name}</a>
        </li>
      ))
    }
  </ul>
</PageLayout>
