---
import PageLayout from "../../../layouts/page-layout.astro";
import { queryVersions, queryCategories } from "../../../lib/query-builder";

export async function getStaticPaths() {
  // Get all versions using the query builder
  const versions = await queryVersions().all();

  const paths = [];

  // For each version, get the categories
  for (const version of versions) {
    const categories = await queryCategories(version.emoji_version!).all();

    paths.push({
      params: {
        version: version.emoji_version,
      },
      props: {
        version: version.emoji_version,
        categories,
      },
    });
  }

  return paths;
}

const { version, categories } = Astro.props;
---

<PageLayout>
  <h1>Version: {version}</h1>

  <h2>Categories</h2>
  <ul>
    {
      categories.map((group) => (
        <li>
          <a href={`/${version}/categories/${group.slug}`}>{group.name}</a>
        </li>
      ))
    }
  </ul>
</PageLayout>
