---
import PageLayout from "../../layouts/page-layout.astro";
import { API_URL } from "astro:env/client"
// TODO: fetch latest in a different way
const latest = "16.0";

const res = await fetch(API_URL + "/api/v1/categories/" + latest)

if (!res.ok) {
  throw new Error(`Failed to fetch emoji groups: ${res.statusText}`);
}

const groups = await res.json();
---

<PageLayout>
  <h1>Version: {latest}</h1>

	<h2>Categories</h2>
	<ul>
		{groups.map((group) => (
			<li>
				<a href={`/categories/${group.slug}`}>{group.name}</a>
			</li>
		))}
	</ul>
</PageLayout>
