---
import PageLayout from '../layouts/page-layout.astro';
---

<PageLayout>
<div class="flex justify-center items-center min-h-screen">
	<div class="p-8 rounded-lg border border-gray-300 shadow text-center">
		<h1 class="text-3xl font-bold text-gray-800">Coming Soon</h1>
		<p class="mt-2 text-gray-600">We're working on something awesome!</p>
	</div>
</div>
</PageLayout>
